format = """
[](red)\
$os\
$username\
[](bg:peach fg:red)\
$directory\
[](bg:yellow fg:peach)\
$git_branch\
$git_status\
[](fg:yellow bg:green)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:green bg:sapphire)\
$conda\
[](fg:sapphire bg:lavender)\
$time\
[ ](fg:lavender)\
$cmd_duration\
$line_break\
$character"""

palette = 'everforest'

# add_newline = false

[os]
disabled = false
style = "bg:red fg:crust"

[os.symbols]
Windows = ""
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = " 󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "bold bg:red fg:crust"
style_root = "bg:red fg:crust"
format = '[ $user ]($style)'

[directory]
style = "bold bg:peach fg:crust"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bold bg:yellow"
format = '[[ $symbol $branch ](bold fg:crust bg:yellow)]($style)'

[git_status]
style = "bold bg:yellow"
format = '[[($all_status$ahead_behind )](bold fg:crust bg:yellow)]($style)'

[nodejs]
symbol = ""
style = "bold bg:green"
format = '[[ $symbol( $version) ](bold fg:crust bg:green)]($style)'

[c]
symbol = " "
style = "bold bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[rust]
symbol = ""
style = "bold bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[golang]
symbol = ""
style = "bold bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[php]
symbol = ""
style = "bold bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[java]
symbol = " "
style = "bold bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[kotlin]
symbol = ""
style = "bold bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[haskell]
symbol = ""
style = "bold bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[python]
symbol = ""
style = "bold bg:green"
format = '[[ $symbol( $version)(\(#$virtualenv\)) ](fg:crust bg:green)]($style)'

[docker_context]
symbol = ""
style = "bold bg:sapphire"
format = '[[ $symbol( $context) ](fg:crust bg:sapphire)]($style)'

[conda]
symbol = "  "
style = "fbold g:crust bg:sapphire"
format = '[$symbol$environment ]($style)'
ignore_base = false

[time]
disabled = false
time_format = "%R"
style = "bold bg:lavender"
format = '[[  $time ](bold fg:crust bg:lavender)]($style)'

[line_break]
disabled = true

[character]
disabled = false
success_symbol = '[❯](bold fg:green)'
error_symbol = '[❯](bold fg:red)'
vimcmd_symbol = '[❮](bold fg:green)'
vimcmd_replace_one_symbol = '[❮](bold fg:lavender)'
vimcmd_replace_symbol = '[❮](bold fg:lavender)'
vimcmd_visual_symbol = '[❮](bold fg:yellow)'

[cmd_duration]
format = " in $duration "
style = "bg:lavender"
disabled = false
show_notifications = true
min_time_to_notify = 45000

[palettes.everforest]
red = "#E67E80"
orange = "#E69875"
peach = "#E69875"
yellow = "#DBBC7F"
green = "#A7C080"
aqua = "#83C092"
blue = "#7FBBB3"
purple = "#D699B6"
lavender = "#D699B6"
sapphire = "#7FBBB3"
teal = "#83C092"
# Foreground/text colors
fg = "#D3C6AA"
text = "#D3C6AA"
# Background colors
bg_dim = "#232A2E"
bg0 = "#2D353B"
bg1 = "#343F44"
bg2 = "#3D484D"
bg3 = "#475258"
bg4 = "#4F585E"
bg5 = "#56635F"
crust = "#2D353B"
base = "#232A2E"
mantle = "#232A2E"
# Grey colors
grey0 = "#7A8478"
grey1 = "#859289"
grey2 = "#9DA9A0"
# Special background colors
bg_red = "#514045"
bg_yellow = "#4D4C43"
bg_green = "#425047"
bg_blue = "#3A515D"
bg_purple = "#4A444E"
bg_visual = "#543A48"
# Statusline colors
statusline1 = "#A7C080"
statusline2 = "#D3C6AA"
statusline3 = "#E67E80"


[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"


# # format = """
# # $directory\
# # $git_branch\
# # $git_status\
# # $character
# # """
# #
# # right_format = """
# # $cmd_duration
# # $nodejs\
# # $docker_context\
# # $time"""
#
# format = """
# [╭─]()$directory$rust$git_branch$git_state$git_status$fill $cmd_duration$package$golang$terraform$docker_context$docker_context$nodejs$time
# [╰─]() $character
# """
#
# add_newline = false
#
# [fill]
# symbol = " "
#
# [character]
# success_symbol = "[❯](#43AC9F)"
# # success_symbol = "[ ](#4DC5B6)"
# error_symbol = "[ ❯](red)"
# # error_symbol = "[ ](red)"
# vimcmd_symbol = "[ ❮](green)"
#
# [username]
# show_always = true
# style_user = "bg:#9A348E"
# style_root = "bg:#9A348E"
# format = '[$user ]($style)'
# disabled = true
#
# [os]
# style = "bg:#9A348E"
# disabled = true # Disabled by default
#
# [directory]
# # truncation_symbol = '󰝰  '
# truncate_to_repo = false
# # home_symbol = '  ~'
# # home_symbol = '~'
# read_only_style = '197'
# read_only = '  '
# format = ' [ 󰝰 ](bg:#94A0A1 fg:#000000 bold)[](fg:#94A0A1 bg:#485259 bold)[ $path ](fg:white bg:#485259 bold)[ ](fg:#485259 bold)'
# # style = "bg:#DA627D"
# # format = "[ $path ]($style)"
# truncation_length = 1
# # truncation_symbol = "…/"
#
# [docker_context]
# symbol = " "
# style = "fg:blue"
# format = '[⦿ $symbol ]($style)'
#
# [git_branch]
# symbol = ""
# style = "fg:green"
# format = '[⦿ $symbol $branch ]($style)'
#
# [git_status]
# format = '([\( $all_status$ahead_behind\) ]($style))'
# style = 'bold green'
# conflicted = '[ ${count}](red) '
# # up_to_date = '[󰘽 up-to-date](green) '
# untracked = '[󰋗 ${count}](red) '
# ahead = ' ${count}'
# diverged = ' ${ahead_count}  ${behind_count}'
# behind = ' ${count}'
# stashed = '[ ${count}](green) '
# modified = '[󰛿 ${count}](yellow) '
# staged = '[󰐗 ${count}](green) '
# renamed = '[󱍸 ${count}](yellow) '
# deleted = '[󰍶 ${count}](red) '
#
# [nodejs]
# symbol = ""
# style = "fg:purple"
# format = '[⦿ $symbol ($version) ]($style)'
#
# [time]
# disabled = false
# time_format = "%R" # Hour:Minute Format
# style = "fg:#94A0A1 bold"
# format = '[⦿ $time ]($style)'
#
# [cmd_duration]
# style = "fg:yellow"
# format = '[took $duration]($style) '


# format = """
# $directory\
# $git_branch\
# $git_status\
# $character
# """
#
# right_format = """
# $cmd_duration
# $nodejs\
# $docker_context\
# $time"""

# =================================================

# format = """
# $directory\
# $character"""
#
# right_format = """
# $singularity\
# $kubernetes\
# $vcsh\
# $fossil_branch\
# $git_branch\
# $git_commit\
# $git_state\
# $git_status\
# $hg_branch\
# $pijul_channel\
# $docker_context\
# $package\
# $c\
# $cpp\
# $cmake\
# $cobol\
# $daml\
# $dart\
# $deno\
# $dotnet\
# $elixir\
# $elm\
# $erlang\
# $fennel\
# $golang\
# $guix_shell\
# $haskell\
# $haxe\
# $helm\
# $java\
# $julia\
# $kotlin\
# $gradle\
# $lua\
# $nim\
# $nodejs\
# $ocaml\
# $opa\
# $perl\
# $php\
# $pulumi\
# $purescript\
# $python\
# $raku\
# $rlang\
# $red\
# $ruby\
# $rust\
# $scala\
# $solidity\
# $swift\
# $terraform\
# $vlang\
# $vagrant\
# $zig\
# $buf\
# $conda\
# $pixi\
# $meson\
# $spack\
# $memory_usage\
# $aws\
# $gcloud\
# $openstack\
# $azure\
# $crystal\
# $custom\
# $status\
# $battery\
# """
# add_newline = false
#
# [fill]
# symbol = " "
#
# [character]
# success_symbol = "[❯](#4DC5B6)"
# # success_symbol = "[ ](#4DC5B6)"
# error_symbol = "[❯](red)"
# # error_symbol = "[ ](red)"
# vimcmd_symbol = "[ ❮](green)"
#
# [username]
# show_always = true
# style_user = "bg:#9A348E"
# style_root = "bg:#9A348E"
# format = '[$user ]($style)'
# disabled = true
#
# [os]
# style = "bg:#9A348E"
# disabled = true # Disabled by default
#
# [directory]
# # truncation_symbol = '󰝰  '
# truncate_to_repo = false
# # home_symbol = '  ~'
# # home_symbol = '~'
# read_only_style = '197'
# read_only = '  '
# format = '[ $path ](fg:#F38E61 bold)'
# # style = "bg:#DA627D"
# # format = "[ $path ]($style)"
# truncation_length = 1
# # truncation_symbol = "…/"
#
# [docker_context]
# symbol = " "
# style = "fg:blue"
# format = '[⦿](fg:#94A0A1) [$symbol $context ]($style)'
#
# [git_branch]
# symbol = ""
# style = "fg:green"
# format = '[$symbol $branch ]($style)'
#
# [git_status]
# format = '([\( $all_status$ahead_behind\) ]($style))'
# style = 'bold green'
# conflicted = '[ ${count}](red) '
# # up_to_date = '[󰘽 up-to-date](green) '
# untracked = '[󰋗 ${count}](red) '
# ahead = ' ${count}'
# diverged = ' ${ahead_count}  ${behind_count}'
# behind = ' ${count} '
# stashed = '[ ${count}](green) '
# modified = '[󰛿 ${count}](yellow) '
# staged = '[󰐗 ${count}](green) '
# renamed = '[󱍸 ${count}](yellow) '
# deleted = '[󰍶 ${count}](red) '
#
# [nodejs]
# symbol = ""
# style = "fg:#D182D8"
# format = '[* ](fg:#94A0A1)[$symbol ($version) ]($style)'
#
# [package]
# symbol = ""
# style = "fg:#A9CD73"
# format = '[* ](fg:#94A0A1)[$symbol ($version) ]($style)'
#
# [time]
# disabled = false
# time_format = "%R" # Hour:Minute Format
# style = "fg:#94A0A1 bold"
# # format = '[⦿ $time ]($style)'
# format = '[* ](fg:#94A0A1)[$time ]($style)'
#
# [cmd_duration]
# style = "fg:yellow"
# format = '[* ](fg:#94A0A1)[took $duration]($style) '
